# SQL Subqueries - Lab

## Introduction

Now that you've seen how subqueries work, it's time to get some practice writing them! Not all of the queries will require subqueries, but all will be a bit more complex and require some thought and review about aggregates, grouping, ordering, filtering, joins and subqueries. Good luck!  

## Objectives

You will be able to:

* Write subqueries to decompose complex queries

## CRM Database Schema

Once again, here's the schema for the CRM database you'll continue to practice with.

<img src="images/Database-Schema.png" width="600">

## Connect to the Database

As usual, start by importing the necessary packages and connecting to the database **data.sqlite**.

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("data.sqlite")
c = conn.cursor()

## Select the Average Number of Orders on a Product by Product Basis

In [4]:
c.execute('''SELECT AVG(orderNumber)
             FROM orderdetails
             GROUP BY productCode''').fetchall()

[(10265.75,),
 (10260.32142857143,),
 (10265.42857142857,),
 (10265.57142857143,),
 (10263.0,),
 (10260.857142857143,),
 (10262.037037037036,),
 (10256.592592592593,),
 (10260.57142857143,),
 (10265.964285714286,),
 (10256.407407407407,),
 (10262.185185185184,),
 (10256.703703703704,),
 (10262.111111111111,),
 (10261.785714285714,),
 (10262.407407407407,),
 (10260.42857142857,),
 (10263.074074074075,),
 (10259.42857142857,),
 (10259.535714285714,),
 (10254.8,),
 (10263.82142857143,),
 (10246.76,),
 (10262.481481481482,),
 (10263.148148148148,),
 (10261.892857142857,),
 (10246.84,),
 (10261.607142857143,),
 (10258.785714285714,),
 (10261.07142857143,),
 (10264.714285714286,),
 (10265.5,),
 (10259.17857142857,),
 (10254.72,),
 (10260.107142857143,),
 (10260.0,),
 (10263.464285714286,),
 (10260.035714285714,),
 (10257.111111111111,),
 (10258.11320754717,),
 (10257.111111111111,),
 (10262.074074074075,),
 (10259.92857142857,),
 (10262.185185185184,),
 (10254.68,),
 (10261.814814814816,),
 (10263.607142857143,),
 (10256.444444444445,),
 (10246.72,),
 (10257.333333333334,),
 (10261.0,),
 (10260.75,),
 (10261.962962962964,),
 (10252.708333333334,),
 (10255.24,),
 (10262.035714285714,),
 (10265.67857142857,),
 (10254.96,),
 (10264.642857142857,),
 (10258.857142857143,),
 (10265.464285714286,),
 (10257.444444444445,),
 (10259.07142857143,),
 (10261.357142857143,),
 (10261.481481481482,),
 (10255.44,),
 (10261.785714285714,),
 (10263.785714285714,),
 (10252.791666666666,),
 (10262.925925925925,),
 (10257.814814814816,),
 (10255.44,),
 (10262.333333333334,),
 (10263.82142857143,),
 (10255.36,),
 (10263.285714285714,),
 (10262.703703703704,),
 (10264.142857142857,),
 (10247.08,),
 (10256.111111111111,),
 (10260.17857142857,),
 (10264.82142857143,),
 (10262.074074074075,),
 (10261.25,),
 (10265.142857142857,),
 (10261.814814814816,),
 (10261.82142857143,),
 (10256.37037037037,),
 (10260.892857142857,),
 (10264.785714285714,),
 (10261.592592592593,),
 (10264.642857142857,),
 (10262.142857142857,),
 (10256.666666666666,),
 (10261.62962962963,),
 (10257.814814814816,),
 (10264.642857142857,),
 (10257.296296296296,),
 (10263.785714285714,),
 (10264.32142857143,),
 (10258.037037037036,),
 (10261.07142857143,),
 (10265.0,),
 (10264.535714285714,),
 (10257.777777777777,),
 (10257.703703703704,),
 (10264.17857142857,),
 (10263.82142857143,),
 (10257.666666666666,)]

## Write an Equivalent Query using a Subquery

```SQL
select customerNumber,
       contactLastName,
       contactFirstName
       from customers
       join orders 
       using(customerNumber)
       where orderDate = '2003-01-31';
```

In [ ]:
c.execute('''SELECT customerNumber, contactLastName, contactFirstName
             from''').fetchall()

## Select the Total Number of Orders for Each Product Name

Sort the results by the total number of items sold for that product.

In [ ]:
#Your code here

## Select the Product Name and the  Total Number of People Who Have Ordered Each Product

Sort the results in descending order.

In [ ]:
#Your code here

## Select the Employee Number, Office Code, City (of the office), and Name (First and Last) of those Employees who Sold Products that Have Been Ordered by Less Then 20 people.

This problem is a bit tougher. To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [ ]:
#Your code here

## Select the Employee Number, Name (First and Last) and Number of Customers of Employees Who's Customers Have an Average Credit Limit of Over 15K

In [ ]:
#Your code here

## Summary

In this lesson, you got to practice some more complex SQL queries, some of which required subqueries. There's still plenty more SQL to be had though; hope you've been enjoying some of these puzzles!